.section-heading h1 {
    text-align: left;
    font-size: 35px;
    margin: 0 0 0 0;
  }

.article-container h1 {
    font-size: 35px;
  }

  .article-container p {
    font-size: 18px;
  }

.li-cite-author {
   font-size: 18px;
  }

.container {
  font-size: 18px;
  }

.article-style p {
  font-size: 18px;
  }

.article-style ul {
  font-size: 18px;
}
